/* Estilos gerais para o body e container */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    margin: 50px auto;
    padding: 20px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para títulos */
h1 {
    margin: 10px 0;
    color: #333;
}

/* Estilos para inputs */
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e28356;
    border-radius: 5px;
}

/* Estilos para botões */
button {
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #d45d02;
    color: #fff;

    transition: background-color 0.3s ease;
}

/* Estilo para o botão quando estiver desabilitado */
.botao-acessar:disabled {
    background-color: #ccc; /* Cor de fundo cinza */
    opacity: 0.5; /* Opacidade reduzida */
    cursor: not-allowed; /* Cursor não permitido */
}


button:hover {
    background-color: #c24a12;
}

/* Estilos específicos para a tela de inserção de username */
.username-input {
    margin-bottom: 20px;
}

.username-input label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilos específicos para a tela de inserção da senha */
.senha-input {
    margin-bottom: 20px;
}

.senha-input label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
