body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    margin: 50px auto;
    padding: 20px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 10px 0;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.username-input {
    margin-bottom: 20px;
}

.username-input label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.username-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Distribui automaticamente as colunas com um tamanho mínimo de 50px */
    gap: 5px; /* Adiciona espaçamento entre as teclas */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin-bottom: 20px;
}

/* Adicione qualquer outro estilo específico necessário para as teclas dentro do teclado */
.tecla {
    width: 100%; /* Ocupa todo o espaço disponível na coluna */
    height: 50px; /* Altura da tecla */
}

.botao {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #e0e0e0;
    color: #333;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #ccc;
}

.botao-apagar {
    width: 100px;
    margin: 0 auto 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #dc3546de;
    color: #fff;
    transition: background-color 0.3s ease;
}

.botao-apagar:hover {
    background-color: #c82333;
}

.botao-acessar {
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #d45d02;
    color: #fff;
    transition: background-color 0.3s ease;
}

.botao-acessar:hover {
    background-color: #c24a12;
}

#senha-digitada {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace; /* Define uma fonte monoespaçada */
}

label {
    margin-top: 10px;
    display: block;
    color: #333;
}
