<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Username</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>LOGIN</h1>
        <div class="username-input">
            <label for="username">Nome de usuário:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <button class="botao-acessar" id="botao-acessar-username">Próximo</button>
    </div>
    <script src="{{ url_for('static', filename='username.js') }}"></script>
</body>
</html>
